@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,100;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body{
    background: url(images/background.jpg) no-repeat ;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
  margin: 10px 10rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
  height: 50px;
}
.header .navbar a {
  text-decoration: none;
  font-size: 18px;
  padding-right: 10px;
}
.header .navbar a:hover,.active {
  font-size: 18.1px;
  font-weight: 600;
  color: rgb(163, 8, 142);
}
.header .search-box {
  width: 250px;
  border: 3px solid rgb(255, 255, 255);
  padding: 5px 8px;
  border-radius: 6px;
}
.header .search-box i {
   font-size: 20px;
   font-weight: 500;
  }
.header .search-box input,.search-box input::placeholder {
    border: none;
    background: transparent;
    color: rgb(255, 255, 255);
    
  }
  .header .search-box input:hover,  .header .search-box input:focus{
    border: none;
    outline: none;
    background: transparent;
    
  }
  .home{
    margin: 10px 10rem;
    background: url(images/background.jpg) no-repeat ;
    background-size: cover;
    height: 70vh;
    border-radius: 10px;
    width: 90%;
    position: relative;
    box-shadow: -2px 1px 5px black;
  }
  .home .left{
    width: 50%;
    margin: 50px;
  }
  .home .right{
    width: 50%;
    text-align: center;
    padding: 3rem;
  }
  .social-media {
    display: flex;
    justify-content: start; 
    margin-top: 10px; 
}
.social-media i{
    margin-right: 1rem; 
}
.social-media i:hover{
    margin-right: 1rem; 
    scale: 1.5;
    color:rgb(163, 8, 142);
}
.left h1{
    margin-bottom: 80px;
}
.left h2{
    font-size: 30px;
    margin-bottom: 5px;
}
.left h3{
    margin-bottom: 10px;
    color: rgb(250, 17, 219);
}
.left p{
    font-size: 10px;
    margin-bottom: 20px;
}

.right{
    background:transparent;
    backdrop-filter: blur(15px);
    height: 70vh;
    border-radius: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.349);
   
}
.right h1{
    margin-bottom: 50px;
}
.right hr{
    margin:  10px 0;
}
.right input{
    background: transparent;
    outline: none;
    border: none;
}
.right input:hover,.right input::placeholder{
   color: rgb(255, 255, 255);
}
.right .psw{
    margin-top: 40px;
}
.right button{
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(226, 18, 81);
    border: none;
    margin: 20px 1px;
    font-size: 16px;
    font-weight: 600;
}
.right p {
    font-size: 12px;
}
.right a:hover {
    color: rgb(155, 167, 240);
}